:root {
    --primary-color: #FFFDD0;
    --secondary-color: #CC5500;
    --tertiary-color: #88232B;
}


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: "";
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("./images/header-pic.jpg");
    background-size: cover;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    color: var(--primary-color);
    text-shadow: 2px 2px 15px rgba(0,0,0,0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.6vw;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

section {
    padding: 60px;
}

.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border {
    border-color: var(--tertiary-color);
}

.secondary-border {
    border-color: var(--tertiary-color);
}


/* Hero Styles */
.hero {
    background-image: url("./images/header-pic.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
}

/* Hero Style end */

.intro {
    display: block;
}

.intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

.intro img {
    min-width: 40%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.contact h3 {
    border: 1px;
    padding: 10px 20px;
    text-align: center;
}

/* Contact form styles */

.contact {
    background-color: var(--secondary-color);
}

.contact h2 {
    color: var(--primary-color);
}

.contact-body div {
    color: white;
}

.contact h4 {
    color: var(--primary-color);
    font-size: 25px;
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info > * {
    margin: 15px;
}

.contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 18px;
    font-style: normal;
    color: var(--primary-color);
}

.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 50%;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.75);
}

.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
}

button {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
}

button:hover {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

/* Projects (work) Styles */


.projects {
    background: var(--primary-color);
}

.project {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
   display: flex;
   flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.project h3 {
    color: var(--secondary-color);
    font-size: 46px;
    flex: 1 30%;
}

.project-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.project:hover {
    background: violet;
}

.project img {
    flex: 1 12%;
    margin-right: 20px;
}

.project-img img {
    height: 300px;
    width: 300px;
}

.project-text {
    flex: 12;
}

.project-text h4 {
    color: var(--tertiary-color);
    font-size: 18px;
}

.project-text h3 {
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 10px;
}


.coaching img {
    width: 1000px;
    height:1000px;
}

.flex-row {
    display: inline-flexbox;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .section-title {
        width: 80%;
    }

}

/* MEIDA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .project h3 {
        flex: 1 100%;
        text-align: center;
    }

    .project-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .project-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .project-text {
        flex: 100%;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
}
