:root {
    --primary-color: gray;
    --secondary-color: rgb(248, 19, 19);
}


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: "";
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("./images/header-pic.jpg");
    background-size: cover;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.6vw;
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

section {
    padding: 60px;
}

/* Hero Styles */
.hero {
    background-image: url("./images/header-pic.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
}s